In [2]:
#use this only if you are using google colab for running the code
!git clone https://github.com/MudduChaithanyaSai/internship-test2.git

fatal: destination path 'internship-test2' already exists and is not an empty directory.

In [4]:
import pandas as pd

In [3]:
data_path = "/content/internship-test2/input/question-3/main.csv"

In [5]:
df = pd.read_csv(data_path)

In [6]:
df.head()

             Team  Goals  Shots on target  ...  Subs on Subs off Players Used
0         Croatia      4               13  ...        9        9           16
1  Czech Republic      4               13  ...       11       11           19
2         Denmark      4               10  ...        7        7           15
3         England      5               11  ...       11       11           16
4          France      3               22  ...       11       11           19

[5 rows x 35 columns]

In [7]:
df.keys()

Index(['Team', 'Goals', 'Shots on target', 'Shots off target',
       'Shooting Accuracy', '% Goals-to-shots', 'Total shots (inc. Blocked)',
       'Hit Woodwork', 'Penalty goals', 'Penalties not scored', 'Headed goals',
       'Passes', 'Passes completed', 'Passing Accuracy', 'Touches', 'Crosses',
       'Dribbles', 'Corners Taken', 'Tackles', 'Clearances', 'Interceptions',
       'Clearances off line', 'Clean Sheets', 'Blocks', 'Goals conceded',
       'Saves made', 'Saves-to-shots ratio', 'Fouls Won', 'Fouls Conceded',
       'Offsides', 'Yellow Cards', 'Red Cards', 'Subs on', 'Subs off',
       'Players Used'],
      dtype='object')

In [11]:
Ind_List = list(df.keys())

In [13]:
# checking if Yellow Cards and Red Cards are attributes in the given df
print("Yellow Cards" in Ind_List, "Red Cards" in Ind_List)

True True

In [19]:
df = df.loc[:, ["Team", "Yellow Cards", "Red Cards"]]

In [22]:
df = df.sort_values(["Red Cards", "Yellow Cards"], ascending= False)

In [24]:
df.head()

                   Team  Yellow Cards  Red Cards
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1
7                 Italy            16          0
10             Portugal            12          0

In [23]:
df.to_csv("/content/internship-test2/output/answer-3/main.csv")